body {
	font-family: 'Open Sans', sans-serif;
}

.name {
	font-weight: bold;
	color: #fff;
}

h1, h4, p {
	color: #333;
}

.ciandt-logo {
	width: 90px;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	padding-bottom: 10px;
}

.company-logo-img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
	margin-right: 10px;
}

.company-website { 
	text-decoration: none;
	color: #333;
}

.left-anchor {
	color: #666;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.left-anchor:hover {
	color: #000;
}

.left-anchor:visited {
	color: #00f;
}

.main_info {
	height: 30%;
}

.main_header {
	height: 320px;
	text-align: center;
}

.photo {
	padding-top: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.position, .company {
	font-weight: bold;
}

.main-container {
	clear: both;
	display: flex;
	width: 100%;
}

.left {
	float: left;
	width: 15%;
}

.right {
	float: right;
	width: 20%;
}

.center {
	margin: 0 auto;
	width: 65%;
	margin-left: 10px;
	margin-right: 10px;
}