body {
	font-family: 'Open Sans', sans-serif;
}

.center {
	margin: 0 auto;
	width: 65%;
	margin-left: 10px;
	margin-right: 20px;
}

.ciandt-logo {
	width: 80px;
	height: 45px;
	vertical-align: middle;
	margin-right: 10px;
	padding-bottom: 10px;
}

.company-logo-img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
	margin-right: 10px;
}

.company-website { 
	text-decoration: none;
	color: #333;
}

.company-website:hover {
	color: #999;
}

.contact-card {
	margin-bottom: 10px;
}

.contact-icon {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-right: 10px;
}

.contact-link { 
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.contact-link:hover {
	color: #999;
}

.experience-card {
	border-bottom: 2px solid #333;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1, h4, p {
	color: #333;
}

.left {
	float: left;
	width: 15%;
}

.left-anchor {
	color: #333;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.left-anchor:hover {
	color: #999;
}

.main-container {
	clear: both;
	display: flex;
	width: 100%;
}

.main_header {
	height: 320px;
	text-align: center;
}

.name {
	font-weight: bold;
	color: #fff;
}

.photo {
	padding-top: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.position, .company {
	font-weight: bold;
}

.right {
	float: right;
	width: 20%;
}

.title {
	margin-bottom: -10px;
}